.diagnois-page{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
}
.diagnois-page-left{
    width: 50%;
    height: 100%;
}

.diagnois-page-right{
    width: 50%;
    height: 100%;
}
